body {
     background: #eeeeee;
     opacity: 1;
     font-family: "Quicksand";
     padding: 0px;
     margin: 0px;
}

.template1{
     height: 270px;
     width: auto;
     font-family: "Quicksand";
     padding: 0px 16px 9px 0px;
     background-color: white;
}

.flex-column {
     display: flex;
     flex-direction: column;
}

.flex-row {
     display: flex;
     flex-direction: row;
     width: 100%;
}

.template-end-symbols {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     margin-top: 30px;
     margin-bottom: 11px;
}

.font-16 {
     font-size: 16px;
     font-weight: 600;
     margin: 0px;
}

.font-12 {
     font-size: 12px;
     font-weight: 200;
     margin: 0px;
}

.img {
     height: 157px;
     width: 132px;
     margin-right: 16px;
     border-radius: 2px;
}

.favourite {
     margin-left: auto;
}

span {
     font-weight: bold;
}

#small_separator {
     width: 1px;
     border-left: 1px solid black;
     border-bottom: 0px;
     border-top: 0px;
     border-right: 0px;
     height: 12px;
     margin-left: 9px;
     margin-right: 8px;
}

.big-separator{
    height: 1px;
    border-width: 0;
    background-color: rgb(233, 233, 233);
    margin-top: 16px;
    margin-left:24px;
    z-index:-1;
}

.row2 {
     align-items: center;
}

.units > p {
     padding: 0px;
     margin: 0px;
}

.select-div {
     margin-top: 16px;
     width: auto;
}

.select-div > select {
     width: 100%;
     font-size: 16px;
     border-top: 0cm;
     border-left: 0px;
     border-right: 0px;
     border-bottom: 1px solid #747474;
     font-family: "Quicksand";
}

.dates {
     align-items: center;
}

.disabled {
     opacity: 0.4;
}

.display-none {
     display: none;
}

.p-size {
     width: 300px;
}

/* *********************************Header classes ******************************/
.header {
     background-color: #000000;
     padding: 0px;
     margin: 0px;
     display: flex;
     align-items: center;
     height: 46px;
     padding-right: 20px;
}

.header-logo {
     margin-left: 29px;
     height: 36px;
     width: 134px;
     margin-right: 15px;
     margin-top: 12px;
     margin-bottom: 12px;
}

.header-bg-img {
     width: 100%;
     height: 46px;
     position: absolute;
     opacity: 0.4;
     background: transparent;
}

.header-logo-img {
     margin-left: 29px;
     height: 36px;
     width: 134px;
     margin-right: 15px;
     margin-top: 2px;
     margin-bottom: 12px;
     position: absolute;
}

.header > ul {
     display: flex;
     text-decoration: none;
     list-style: none;
     margin-left: auto;
}

.header > ul > li > a {
     margin-right: 32px;
     text-decoration: none;
     color: #3fd28b;
     height: 100%;
     padding-bottom: 10px;
}

.header > ul > li :hover {
     border-bottom: 4px solid white;
     color: white;
}

.header-icon {
     padding: 0px;
}

.ham-menu-icon{
    padding: 0px;
    height: 30px;
    width: 50px;
}

#notification-icon {
     margin-top: 20px;
}

.icons-menu > a {
     margin-top: 50px;
     margin-left: 20px;
     margin-bottom: 20px;
     height: 50px;
}

.dp {
     border-radius: 50%;
     border: 1px solid #3fd28b;
     height: 32px;
     width: 32px;
}

.menu-icon {
     margin-right: 15px;
     display: none;
}

.icons-menu {
     display: flex;
     align-items: center;
     margin-left: 20px;
}

/******************************* dashboard slider***********************************************************************/

.dashboard-main {
     background-color: #eeeeee;
     margin: 24px 24px 33px 24px;
}

.dashboard-navigation {
     display: flex;
     background-color: #8ddc97;
     justify-content: space-around;
     height: 64px;
}

.courses {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     border-bottom: 4px solid #000000;
     cursor: pointer;
}

.courses > img {
     width: 21px;
     height: 32px;
     margin-right: 8px;
}

.courses > p {
     font-size: 16px;
}

#courses_num {
     font-size: 24px;
     margin-right: 8px;
     font-weight: bold;
}

.classes {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     cursor: pointer;
}

.classes > img {
     width: 29px;
     height: 32px;
     margin-right: 8px;
}

.classes > p {
     font-size: 16px;
}

#classes_num {
     font-size: 24px;
     margin-right: 8px;
     font-weight: bold;
}

/********************************* dashboard-sub-navigation ********************************/

.sub-navigation {
     display: flex;
     justify-content: space-between;
     height: 45px;
     margin-top: 24px;
     margin-bottom: 17px;
     border-bottom: 1px solid #000000;
     padding-bottom: 18px;
}

.sub1 {
     margin-bottom: 0px;
     display: flex;
     align-items: end;
}

.sub1 > p {
     color: #686868;
     font-size: 12px;
     margin-bottom: 0px;
}

.sub2 {
     display: flex;
     justify-content: center;
     align-items: center;
     /* width: 400px; */
     /* margin-right: 0px; */
}

.sub2 > p {
     font-size: 12px;
     color: #686868;
     width: 45px;
     margin-right: 6px;
}

.sub2 > select {
     width: 170px;
     background-color: #eeeeee;
     font-size: 16px;
     border-top: 0cm;
     border-left: 0px;
     border-right: 0px;
     border-bottom: 1px solid #000000;
     font-family: "Quicksand";
     margin-right: 24px;
}

.sub2 > img {
     height: 24px;
     width: 12px;
}

/***************************************** grid **************************************/

.grid-container {
     display: grid;
     grid-template-columns: auto auto;
     grid-template-rows: auto auto;
     column-gap: 25px;
     row-gap: 25px;
}

@media screen and (max-width: 1100px) {
     .grid-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
     }

     .template1
     {
          height: 270px;
          width: 571px;
          font-family: "Quicksand";
          padding: 0px 16px 9px 0px;
          background-color: white;
     }

     #ham-menu-icon{
          display: block;
     }

     .header > ul {
          display: none;
     }

     .icons-menu {
          display: flex;
          align-items: center;
          margin-left: auto;
     }
     .announcment-div, .notifications-div{
        margin-right: 50px;

     }
}

@media screen and (max-width: 700px) {
     .dashboard-main {
          width: 635px;
     }
}


/* *********************************** footer ******************************** */
.footer {
     background-color: #eeeeee;
}

.footer-main {
     position: sticky;
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 100%;
     background-color: #eeeeee;
}

.flex {
     display: flex;
     flex-direction: row;
}

.flex2 {
     display: flex;
     flex-direction: row;
     justify-content: center;
}

.footer-copyright {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     background-color: #e0e1e1;
     height: 40px;
     width: 100%;
     font-size: 12px;
}

.footer-link {
     height: 34px;
     font-size: 14px;
     display: flex;
     align-items: center;
     margin-bottom: 10px;
}

.footer-link > a {
     text-decoration: none;
     color: #007900;
}

.border {
     border-right: 1px solid #0000001f;
     margin: 8px 16px;
     height: 20px;
}

.border2 {
     border-right: 1px solid #0000001f;
     margin: 8px 16px;
     height: 20px;
}

.footer-logo {
     height: 24px;
     width: 90px;
}

/* *********************************** tag *********************** */
.template-margin {
     margin-top: 24px;
     margin-left: 24px;
     width: 100px;
}

.tag {
     position: absolute;
     margin: 0px;
     color: #581010;
     background-color: rgb(241, 227, 227);
     font-size: 10px;
}

/* ***************************badge*********************************** */
.notification {
     display: flex;
     justify-content: center;
     align-items: center;
     /* background-color: #555; */
     color: white;
     text-decoration: none;
     /* padding: 15px 26px; */
     position: relative;
     display: inline-block;
     border-radius: 2px;
     margin-right: 20px;
}

.notification .badge {
     margin-top: 2px;
     font-size: 12px;
     position: absolute;
     top: -10px;
     right: -10px;
     padding: 2px 5px;
     border-radius: 50%;
     background: rgb(0, 170, 255);
     color: white;
     width: 10px;
     margin-left: auto;
     margin-right: auto;
}

.notification .badge-profile-picture {
     margin-top: 2px;
     font-size: 12px;
     position: absolute;
     top: -10px;
     right: -10px;
     padding: 2px 5px;
     border-radius: 50%;
     background: rgb(255, 255, 255);
     color: rgb(0, 0, 0);
     width: 10px;
     margin-left: auto;
     margin-right: auto;
}

/* ******************hover announcment div************************* */
.announcment-div {
     height: 582px;
     width: 315px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);

     background-color: white;
     display: flex;
     flex-direction: column;
     position: absolute;
     top: 2.5rem;
     right: 105px;
     top: 48px;
     z-index: 1;
     transition: opacity 0.5s ease;
     display: none;

     /* width */
     ::-webkit-scrollbar {
          width: 4px;
          height: 327px;
          border-radius: 10px;
     }

     /* Track */
     ::-webkit-scrollbar-track {
          background: #f1f1f1;
     }

     /* Handle */
     ::-webkit-scrollbar-thumb {
          background: #8d8585;
     }

     /* Handle on hover */
     ::-webkit-scrollbar-thumb:hover {
          background: #555;
     }
}

.announment-btns {
     margin-top: auto;
     padding: 0px;
     background-color: #ffffff;
     display: flex;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);

     :hover {
          background-color: #4ad05a;
     }
}

.announment-btns > button {
     height: 48px;
     font-size: 14px;
     font-family: "quicksand";
     color: #1f7a54;
     border: none;
     width: 155px;
     background-color: #ffffff;
}

.announcments { 
     height: 550px;
     overflow-y: auto;
}

.announcments > ul {
     -webkit-padding-start: 0;
     color: #000000;
     padding: 0px;
     margin: 0px;
     li:hover {
          background-color: #d7e147;
     }
}

.announcments > ul > li {
     border-bottom: rgb(233, 233, 233) solid 1px;
     padding: 16px;
}

.back {
     background-color: #ffffee;
}

.announcment-1 {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
}

.announcment-1 > p {
     font-size: 12px;
     padding-bottom: 8px;
     margin: 0px;
}

.announcment-1 > p > span {
     color: #6e6e6e;
     font-size: 12px;
}

.announcment-1 > img {
     height: 18px;
     width: 15px;
}

.announcment-2 {
     font-size: 14px;
     padding-bottom: 8px;
     margin: 0px;
}

.announcment-3 {
     display: flex;
     justify-content: space-between;
     font-size: 12px;
     color: #6e6e6e;
}

.announcment-3 > p {
     padding: 0px;
     margin: 0px;
}

.announcment-4 {
     color: #6e6e6e;
     font-size: 12px;
}

#announcement-icon:hover > .announcment-div {
     display: block;
}

// ****************hover notification div*****************************

.notifications-div {
     height: 582px;
     width: 315px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);

     z-index: 1;
     background-color: white;
     display: flex;
     flex-direction: column;
     position: absolute;
     top: 2.5rem;
     right: 170px;
     top: 48px;
     transition: opacity 0.5s ease;
     display: none;

     /* width */
     ::-webkit-scrollbar {
          width: 4px;
          height: 327px;
          border-radius: 10px;
     }

     /* Track */
     ::-webkit-scrollbar-track {
          background: #f1f1f1;
     }

     /* Handle */
     ::-webkit-scrollbar-thumb {
          background: #8d8585;
          // opacity: 0.3;
     }

     /* Handle on hover */
     ::-webkit-scrollbar-thumb:hover {
          background: #555;
     }
}

#notifications-icon:focus-within  #notifications-div 
{
  display: block;
}

.notifications-btns {
     margin-top: auto;
     padding: 0px;
     background-color: #ffffff;
     display: flex;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);
     justify-content: center;
     align-items: center;

     button {
          height: 48px;
          font-size: 14px;
          font-family: "quicksand";
          color: #1f7a54;
          border: none;
          width: 100%;
          background-color: #ffffff;
     }

     :hover {
          background-color: #83b983;
     }
}

.notification-1 {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;

     p {
          font-size: 14px;
          margin-right: 10px;
          margin: 0px;
     }

     img {
          height: 18px;
          width: 15px;
     }
}

.notification-2 {
     color: #6e6e6e;
     font-size: 12px;
     margin: 0px;
     margin-top: 8px;
}

.notification-3 {
     margin-top: 8px;
     display: flex;
     justify-content: space-between;
     font-size: 12px;
     color: #6e6e6e;
     p {
          padding: 0px;
          margin: 0px;
          margin-left: auto;
     }
}

// ***************updated hamburger menu***************************************

.ham-menu {
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);
     background-color: white;
     display: inline-block;
     text-align: right;
     position: absolute;
     top: 2.5rem;
     right: 40px;
     top: 48px;
     display: none;
     transition: opacity 0.5s ease;
     width: 280px;
     height: fit-content;
     padding: 0px;

     :hover {
          background-color: #cdc6c6;
          img {
               transform: rotate(180deg);
          }

          .sub-options {
               display: flex;
               align-items: center;
          }
     }
     .option-div {
          height: 48px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 14px;
          color: #1f7a54;

          p {
               margin-left: 16px;
          }

          .dropdown-icon {
               margin-right: 24px;
               font-size: 24px;
               color: #1f7a54;
               font-weight: bold;
          }

          img{
            height: 12px;
            width: 12px;
            margin-right: 16px;
          }
     }

     .sub-options {
          height: 48px;
          width: 100%;
          font-size: 14px;
          color: #1f7a54;
          margin-right: 127px;
          display: flex;
          align-items: center;
          display: none;

          p {
               margin: 0 0 0 32px;
          }
          p:hover {
               background-color: #4ad05a;
          }
     }

     .sub-options:hover {
          background-color: #4ad05a;
          display: flex;
          align-items: center;
     }
}

.ham-icon{
    display: none;
}

#ham-menu-icon{
    margin: 50px 0px 26px 0px;
    padding: 0px;
}
