body{
    background: #EEEEEE 0% 0% no-repeat padding-box;
opacity: 1;
font-family: 'Quicksand';
padding: 0px;
margin: 0px; 
}

.main-form{
    /* Layout Properties */
margin-top: 50px;
margin-left: auto;
margin-right: auto;
width: 488px;
height: 550px;
/* UI Properties */
background-color: white;
opacity: 1;
border-top: 4px solid #3AC7EC;
padding: 22px 32px;
border-radius: 2px 2px 0px 0px;

}

.radio-div{
    display: flex;
    flex-direction: row;
}

.heading-div{
    display: flex;
    flex-direction: row;
}

.back-image{
    width: 17px;
    height: 26px;
    align-items: left;
}

.quantum-text{
    font-size: 24px;
    margin: 0px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.radio-div{
    margin-top: 34px;	accent-color: green;     
}


.margin-radio{
    
    margin-right: 8px;
    /* height: 50px; */
    -webkit-transform: scale(1.5);

}

.margin-radio-label{
    margin-right: 32px;
}

.size-label{
    font-size: 12px;
}

.dropdown-state-div{
    margin-top: 23px;
}

.select-state{
    padding: 0px;
    margin-top: 5px;
    width: 100%;
    font-size: 15px;
    border-top: 0cm;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid #747474;
}

.dropdown-district-div{
    margin-top: 36px;
}

.email-div{
        margin-top: 56px;
        display: flex;
        flex-direction: column;
}

.email-div > input{
    border-top: 0cm;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid #747474;
    font-size: 16px;

}

.abcd{
    margin-top: 56px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.abcd > a{
    color:green;
    font-size: 14px;
    margin-left: auto;
    text-decoration: none;
    width: auto;
}

.p-img{
    border-bottom: 1px solid #747474;
    background-size: cover;

}

.password-div{
    /* margin-top: 56px; */
    display: flex;
    flex-direction: column;
    align-content: end;
}

.password-div > input{
border-top: 0cm;
border-left: 0px;
border-right: 0px;
border-bottom: 1px solid #747474;
font-size: 16px;
width: 100%;
}


.email-div > a{
color:green;
font-size: 14px;
margin-left: auto;
text-decoration: none;
}

.remember-div{
    display: flex;
    flex-direction: row;
}

.remember-div > p{
    font-size: 16px;
    font-weight: bold;
    margin-left: 5px;
    margin-top: 4px;
}

.remember-div > input{
    accent-color: green;
    height: 24px;
    width: 18px;
}

.btn-div{
    display: flex;
    justify-content: center;
    margin-top: 34px;
}

.log-btn{
    height: 40px;
    width: 216px;
    margin-left: auto;
    margin-right: auto;
    background-color: #3FD28B;
    font-size: 14px;
    font-family: 'Quicksand';
    color: black;
    border: 0px;
    box-shadow: 0px 3px 5px #0000003D;
    font-weight: bold;

}

.font{
    font-family: 'Quicksand';
    /* font-weight: 100; */
   
}


/* Header classes */
 .header-main{
    /* background-image: url('pictures/header_pattern_image.png'); */
    background-color: #000000;
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    height: 46px;
    border-bottom: 2px solid #31B9E4;

 }

 .header-bg-img{
     width: 100%;
     height: 46px;
     position: absolute;
     opacity: 0.4;
     /* mix-blend-mode: overlay; */
     background: transparent;
 }



 .header-logo-img{
    margin-left: 29px;
    height: 36px;
    width: 134px;
    margin-right: 15px;
    margin-top: 2px;
    margin-bottom: 12px;
    position: absolute;

 }


 /* footer */
 .footer-main{
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 32px;
    /* position:static;
    bottom:0; */
    width:100%;

}
 .flex{
    display: flex;
    flex-direction: row;
 }

 .flex2{
    display: flex;
    flex-direction: row;
    justify-content: center;
 }


 .footer-copyright{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #E0E1E1 ;
    height: 40px;
    width: 100%;
    font-size: 12px;
 }

 .footer-link{
    height: 34px;
    font-size: 14px;
    display: flex;
    align-items: center;
    color: green;
    margin-bottom: 10px;
 }

 .footer-link > a{
    text-decoration: none;
    color: #007900;

 }

 .border{
    border-right: 1px solid #0000001F;  
    margin: 8px 16px;  
    height: 20px; 

 }

 .border2{
    border-right: 1px solid #0000001F;  
    margin: 8px 16px; 
    height: 20px; 
 }

 .footer-logo{
    height:24px;
    width:90px
 }

/* eye */
 .p-viewer, .p-viewer2{
    float: right;
    /* margin-top: -55px; */
    position: relative;
    z-index: 1;
    cursor:pointer;
    background-image: url('preview.svg');
  }

  .fa-eye {
    color: #000;
  }
  
 